apptools
ase
autopep8
click
configobj
cycler
Flask
Flask-Cors
Flask-SQLAlchemy
fonttools
gpaw
gunicorn
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
Pillow
pycodestyle
pyface
pyparsing
python-dateutil
python-dotenv
python-vtk
pytz
scipy
six
SQLAlchemy
toml
traits
traitsui
Werkzeug