/* styles.css */
@font-face {
    font-family: "Outfit";
    src: url("./assets/fonts/Outfit-VariableFont_wght.ttf");
}

.container {
  background-color: #212936;
  color: white;
  padding: 5%
}

h1, h2, h3, p, span {
    font-family: "Outfit";
}

.bigger-p {
  font-size: 24px;
}

#molecule {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

#icon {
    width: 100px;
}

#start {
  width: 200px;
}

/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 500px;
  max-width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: black;
  background-color: white;
  box-shadow: gray 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}